apt-xapian-index==0.47
apturl==0.5.2
bleach==1.5.0
chardet==2.3.0
command-not-found==0.3
cycler==0.10.0
defer==1.0.6
enum34==1.1.6
graphviz==0.8.2
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.2
language-selector==0.1
Markdown==2.6.10
matplotlib==2.1.1
numpy==1.13.3
pandas==0.22.0
pexpect==4.0.1
Pillow==8.3.2
pkg-resources==0.0.0
protobuf==3.5.1
ptyprocess==0.5
pyasn1==0.1.9
pycups==1.9.73
pycurl==7.43.0
pydot==1.2.4
pygobject==3.20.0
pyparsing==2.2.0
python-apt==1.1.0b1
python-dateutil==2.6.1
python-debian==0.1.27
python-systemd==231
pytz==2017.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.3.0
requests==2.9.1
scipy==1.0.0
sessioninstaller==0.0.0
six==1.11.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.0.1
Werkzeug==0.14.1
xkit==0.0.0
